.form {
  margin: 0 auto;
  padding: 50px 40px 50px 40px;



  background-color: #707070;
  color: #ffffff;
  border: 5px solid rgb(240, 132, 0);;
  
}

.formTitleWrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  margin-right: 9px;

  font-weight: 300;
  font-size: 18px;
  line-height: 1.173;
}
.registerLink {
  padding: 9px 18px;
  font-weight: 600;
    font-size: 18px;
  background-color: rgb(240, 132, 0);
  color: #ffffff;
  border: none;

  cursor: pointer;

  transition: all 200ms linear;
}

.registerLink:hover,
.registerLink:focus,
.submit:hover,
.submit:focus {
  outline: none;
  background-color: #d17218;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label {
  display: block;
  margin-bottom: 30px;
}

.labelTitle {
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.173;
}

.inputWrap {
  position: relative;
}

.input {
  height: 50px;
  min-width: 100%;
  padding-left: 45px;

  border: 2px solid rgb(240, 132, 0);;
  }

.svgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 10px;
}

.invalid {
  border: 3px solid red;
}

/* .valid {
  border: 3px solid green;
} */

.submit {
  padding: 5px 37px;


  font-weight: 600;
  font-size: 18px;
  line-height: 1.173;
  border: none;
  
  color: #ffffff;
  background-color: rgb(240, 132, 0);
  cursor: pointer;

  transition: all 200ms linear;
}


.button {
  padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    

}



.loginUpdatePasswordWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateedPasswordBtn {
  padding: 0 10px;
}

@media (max-width: 600px) {

  .form {
    width: 90vw;
  padding: 30px 20px;
  }

  

}