.ToolCardItem {
    flex: 1 0 calc(100%/6);
    min-width: 220px;
    max-width: 260px;
   
background-color: rgb(77, 77, 77);
}
.ToolCardLink {
    display: block;
    border: 2px solid rgb(83, 83, 83);

   min-height: 350px;
    padding: 10px 20px 40px 20px;
   
      color: white;
  text-decoration: none;
  cursor: pointer;
height: 100%;
}



.ToolCardLink:hover {
    box-shadow: 0px 4px 8px rgba(212, 212, 212, 0.563);
    transform: translateY(-4px);
    transition: box-shadow 0.3s, transform 0.3s;

}


.ToolCardTopWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Status{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    background-color: rgb(240, 132, 0);
    max-width: 150px;
    padding: 7px 15px;
    text-transform: uppercase;
}

.AddToolBtn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    fill: #707070;
    ;
    cursor: pointer;

    transition: fill 200ms linear;
   

    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}

.AddToolBtn:hover,
.AddToolBtn:focus {
    fill:  rgb(240, 132, 0);
}

.AddToolBtn.active {
    fill:  rgb(240, 132, 0);
}
/* .AddToolBtn::before {
    content: "Додати інструмент у кошик";
    width: 300px;
    font-size: 12px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 2px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    top: 45px;
    right:  5px;
} */

.AddToolBtn:hover::before {
    visibility: visible;
    opacity: 1;
    
}
.ToolName {
    font-size: 15px;
    margin-bottom: 10px;
}

.PriceTitle {
    font-size: 12px;
    font-weight: 700;
}

.ToolCardImage {
    display: block;
    width: 100%;
    height: 100%;
  
    object-fit: contain;

    padding: 10px;
}

.ToolCardImageWrapper {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    height: 215px;
}

.customToast {
    font-size: 24px;
    width: 400px;
    top: 50px;
    right: 180px;
    border-radius: 0px;
    background-color: #707070;
   color: rgb(255, 255, 255);
}

@media (max-width: 600px) {


        .Status {
            
            max-width: 150px;
            padding: 1.5vw 2vw;
            font-size: 11px;
           
        }
        .ToolCardItem {

    max-width: 50vw;
   

}
.customToast {
    font-size: 18px;
width: 300px;
right: 180px;
top: 0px;
}
    
}

@media (max-width: 500px) {

    .ToolCardItem {

        min-width: 170px;

    }
}
@media (max-width: 480px) {



    .customToast {
        right: -22vw;
        width: 70vw;
    }
}