.specificationsWrapper {
    margin-top: 5px;
    padding: 20px;
    width: 60.5%;
    background-color: rgb(77, 77, 77);
    text-align: center;
}

.specificationsTitle {

    color: white;
        display: inline-block;
        background-color: rgb(240, 132, 0);
            font-size: 17px;
        padding: 7px 15px;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.specificationsTable {
  width: 100%;
    border-collapse: collapse;
}

.specificationsRow:nth-child(odd) {
    background-color: #6b6b6b;
}

.specificationsLabel {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
}

.specificationsValue {
    text-align: left;
    font-size: 16px;
    padding: 5px;
  
}


@media (max-width: 700px) {
    .specificationsWrapper {
        width: 100%;

        margin-bottom: 5px;

    }

}
@media (max-width: 500px) {
.specificationsWrapper {
       
        padding: 20px 5px ;
      
    }
        .specificationsLabel {
            font-size: 12px;
        }
    
        .specificationsValue {
            font-size: 12px;
        }

}