.ToolsContainer {

    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    padding: 20px;
    justify-content: center;
    align-items: stretch;
    flex: 1;

}



.Error {
    display: block;
    padding: 50px;
    text-align: center;
}

.ToastContainer {
    width: 20px;
    height: 20px;
   
    top: 20px;
    right: 240px;
}

@media (max-width: 600px) {
.ToolsContainer {

      
        padding: 0px;
      
        margin-bottom: 5px;
       

    }
        .ToastContainer {
        
            right: 140px;
        }
}