.header {
  background-color: rgb(72, 72, 72);
  border-bottom: 2px solid rgb(240, 132, 0);
  border-top: 5px solid rgb(240, 132, 0);

}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
    padding-left: 15px;
      padding-right: 15px;
}


.LogoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgb(240, 132, 0);
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

@media (max-width: 800px) {

  .LogoLink {
    margin-left: 0px;
  }
}

