.registrationContainer {
margin-top: 50px;
    padding: 40px;
    text-align: center;
    background-color: rgb(178, 178, 178);
  
}

.registrationTitle {
    padding: 10px 15px;
        color: rgb(240, 132, 0);
        background-color: rgb(77, 77, 77);
        font-size: 30px;
        margin-bottom: 20px;
}

.registrationBaseInfo {
    font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
}

.registrationButton {
    color: white;
    display: inline-block;
    background-color: rgb(240, 132, 0);
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: inherit;
    transition: box-shadow 0.3s, transform 0.3s;
    text-transform: uppercase;
}

.registrationButton:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}
.registrationEmail {
    font-weight: 700;
    color: #ffffff;
}

/* ====================================== */


@media (max-width: 500px) {
    .registrationTitle {
        font-size: 20px;
        overflow: hidden;
            text-overflow: ellipsis;
    }
        .registrationBaseInfo {
            font-size: 14px;
            padding: 0 10px;
          
        }
                .registrationContainer {
                 
                    padding: 40px 0px;
                   
        
                }
     
}