.ExiteSvg {
    width: 32px;
    height: 32px;
}
.ExiteLink {
    fill: white;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms linear;
}

.ExiteLink:hover {
    fill: #da9022;
}

/* @media (min-width: 1000px) {
    .searchContainer {
        display: none;
    }
} */