.form {
  margin: 0 auto;
padding: 50px 40px 50px 40px;

  

  background-color: #707070;
  color: #ffffff;
  border: 10px solid #da9022;
  border-radius: 10px;
}



.title {
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 20px;
  line-height: 1.173;
}
.label {
  display: block;
  margin-bottom: 30px;
}

.labelTitle {
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.173;
}

.inputWrap {
  position: relative;
}

.input {
  height: 50px;
  min-width: 300px;
  padding-left: 45px;

  border: 3px solid #da9022;
  border-radius: 4px;
}

.svgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 10px;
}
.invalid {
  border: 3px solid red;
}
/* .valid {
  outline: 1px solid rgb(71, 255, 148);
} */

.submit {
  padding: 5px 25px 7px 25px;

  font-weight: 300;
  font-size: 20px;
  line-height: 1.173;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  background-color: #da9022;
  cursor: pointer;

  transition: all 200ms linear;
}



.submit:hover,
.submit:focus {
  outline: none;
  background-color: #d17218;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.registrationMenuContainer {
  min-width: 400px;
  padding: 40px;
  background-color: #ffffff;
}