.container {
  display: flex;
}

.buttonUser,
.buttonCart {
 
  padding: 12px 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  fill: #ffffff;
  color: #ffffff;
  cursor: pointer;

  transition: fill 200ms linear, color 200ms linear;
}




.buttonUser:hover,
.buttonCart:hover,
.buttonUser:focus,
.buttonCart:focus {
  fill: rgb(240, 132, 0);
  color: rgb(240, 132, 0);
}

.buttonUser {
  position: relative;
}

.email {
  font-size: 10px;
 
  position: absolute;
  bottom: -2px;
}

@media (max-width: 800px) {
.buttonUser,
  .buttonCart {
      padding: 12px 12px;
  }
}